/* src/components/ContactUs.module.css */

.contactContent {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    gap:20px;
}

.contactInfo {
    max-width: 800px;
    text-align: left;
    margin-bottom: 40px;
    flex: 1;
    font-size: 1.6rem;
}

.contactInfo h2 {
    font-size: 3rem;
    color: var(--color-header-dark);
    margin-bottom: 10px;
    font-weight: 800;
}

.contactInfo p {
    margin-bottom: 30px;
}

.contactDetails {
    font-size: 1rem;
    line-height: 1.8;
}

.contactDetails p {
    margin: 10px 0;
}

.contactMap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    flex: 1;
}

.contactMap h2 {
    font-size: 2rem;
    color: var(--color-header);;
    margin-bottom: 20px;
    text-align: center;
}
