/* src/components/AboutUs.module.css */

.mission:hover .icon,
.vision:hover .icon {
    color: var(--color-dark);
}

 .portfolioList {
    background-color: #fdfdfd;
    padding: 25px;
    box-shadow: var(--box-shadow-large);
    border-radius: 6px;
}

.portfolioList input {
    width: 25rem;
    padding: 10px 20px;
}

.content h2 {
    color: var(--color-header-dark);
    border-bottom: none;
}