:root  {
    --color-portfolio_theme: #2F80ED;
    --color-portfolio_theme_strong: #185ABD;
    --color-portfolio_background: #fdfdfd;
    --color-portfolio_header_background: #ffffff;
    --color-portfolio_text: #666;
    --color-portfolio_text_strong: #333;
}

.portfolio {
    font-family: 'Arial', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    background-color: var(--color-portfolio_background);
}

/* The wrapper takes up the remaining space */
.portfolio .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

/* The content will grow to fill the space before the footer */
.portfolio .container {
    flex: 1;
    padding: 2rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: inherit;
}

/* Header navigation */
.portfolio header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: var(--color-portfolio_header_background);
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.05);
}

.portfolio header .logo {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--color-portfolio_theme);
}

.portfolio div.logo span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: var(--color-portfolio_theme);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.portfolio header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.portfolio header nav ul li a {
    color: var(--color-portfolio_text_strong);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.portfolio header nav ul li a:hover {
    border-bottom: 0.2rem solid var(--color-portfolio_theme);
}

.portfolio header nav ul li a:global(.disabled) {
    color: var(--color-portfolio_theme_strong);
    border-bottom: 0.2rem solid var(--color-portfolio_theme_strong);
    cursor: default;
    pointer-events: none;
}

/* main section */
.portfolio .mainContent {
    display: flex;
    align-items: flex-start;
    margin-top: 4rem;
    column-gap: 4rem;
    width: 100%;
}

.portfolio .mainContent h1 {
    font-size: 3.6rem;
    color: var(--color-portfolio_text_strong);
    margin-bottom: 3rem;
}

.portfolio .footer {
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 4rem;
    height: auto;
    padding: 1rem;
}

.portfolio .footer p {
    color: var(--color-portfolio_text_strong);;
}

.portfolio .center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Video Control */
.portfolio .videoWrapper {
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.4rem 0.8rem #0003;
    background-color: var(--color-dark--2);
    width: 80vw;
    height: 45vw;
    max-width: 800px;
    max-height: 450px;
    margin: auto;
}

.portfolio .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    opacity: 1;
    pointer-events: all;
    transition: opacity 2s ease;
}

.portfolio .controls.hidden {
    opacity: 0;
    pointer-events: none;
}

.portfolio .controls button {
    background: none;
    border: none;
    color: white;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.portfolio .controls button:hover {
    color: var(--color-dark);
}

.portfolio .controls input[type='range'] {
    margin: 0 1rem;
    cursor: pointer;
}

.portfolio .slider {
    -webkit-appearance: none;
    width: 100px;
    height: 0.8rem;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: 0.5rem;
    margin: 0 1rem;
    padding: 0;
}

.portfolio .slider:hover {
    opacity: 1;
}

.portfolio .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    background: var(--color-dark);
    cursor: pointer;
    border-radius: 50%;
}

.portfolio .slider::-moz-range-thumb {
    width: 1.6rem;
    height: 1.6rem;
    background: var(--color-dark);
    cursor: pointer;
    border-radius: 50%;
}

/* Reset from index.css */
::-webkit-scrollbar.portfolio  {
    width: 0;
    height: 0;
}

.portfolio a:link,
.portfolio a:visited {
    font-weight: 400;
}

/* Special styles : rotate-content & photo-content  */

.portfolio :global(.rotate-content) :global(.content-style) {
    transform: rotate(-2deg);
    background-color: var(--color-portfolio_theme);
    border-radius: 2px;
}

.portfolio :global(.rotate-content) :global(.content-style) > li div {
    transform: rotate(2deg);
}

.portfolio :global(.rotate-content) :global(.content-style) > div {
    transform: rotate(2deg);
}

.portfolio :global(.photo-content) :global(.content-style) {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.4rem 0.8rem #0003;
}

.portfolio :global(.photo-content) :global(.content-style) img,
.portfolio :global(.photo-content) :global(.content-style) > div {
    box-shadow: none;
}

@media screen and (max-width: 1100px) {
    .portfolio .container,
    .portfolio header {
        flex-direction: column;
    }

    .portfolio header .logo {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .portfolio header nav ul li a {
        font-size: 1.4rem;
    }

    .portfolio div.logo span {
        width: 3rem;
        height: 3rem;
    }

    .portfolio .mainContent {
        margin-top: 2rem;
    }

    .portfolio .mainContent h1 {
        font-size: 2.6rem;
    }

    .portfolio footer {
        font-size: 1.2rem;
    }

    .portfolio :global(.photo-content) :global(.content-style) {
        padding: 1.6rem;
    }
}